{% extends "layout.html" %}
{% block body %}
  <div class="jumbotron">
    <h1>Welcome to Suxiv</h1>
    <p>Illustration communication service</p>
  </div>
  <div>
    <h2>Uploaded recently</h2>
    <ul class="list-group">
      {% for post in posts %}
        {% include "_post.html" %}
      {% endfor %}
    </ul>
    {% if logged_in %}
    <h2>Posts by following user</h2>
    <ul class="list-group">
      {% for post in posts_following %}
        {% include "_post.html" %}
      {% endfor %}
    </ul>
    {% endif %}
  </div>
{% endblock %}
