{% extends "layout.html" %}
{% block body %}
  <div class="jumbotron">
    <h1>Welcome to Suxiv</h1>
    <p>Illustration communication service</p>
    {% if not logged_in() %}
    <form action="{{ url_for('register_user') }}" method="get">
      <input type="submit" value="Join us" class="btn btn-primary btn-lg">
    </form>
    {% endif %}
  </div>
  <div>
    <h2>Uploaded recently</h2>
    <ul class="list-group">
      {% for post in posts %}
        {% include "_post.html" %}
      {% endfor %}
    </ul>
    <a href="{{ url_for('list_posts') }}">see all posts</a>
    {% if logged_in() %}
    <h2>Posts by following user</h2>
    <ul class="list-group">
      {% for post in posts_following %}
        {% include "_post.html" %}
      {% endfor %}
    </ul>
    {% endif %}
  </div>
{% endblock %}
