{% extends "layout.html" %}
{% block body %}
<div class="panel panel-primary">
  <div class="panel-heading">{{ title }}</div>
  <div class="panel-body" style="text-align: center">
    <p>{{ description }}</p>
    {% if logged_in %}
      {% if user_id != current_user['id'] %}
        {% if favorites(session['user_id'], id) %}
        <form action="{{ url_for('delete_favorite', post_id=id) }}" method="POST">
          <button type="submit" class="btn btn-danger">Unfavorite <span class="badge">{{ favorites_count }} users</span></button>
        {% else %}
        <form action="{{ url_for('create_favorite', post_id=id) }}" method="POST">
          <button type="submit" class="btn btn-primary">Favorite <span class="badge">{{ favorites_count }} users</span></button>
        {% endif %}
        </form>
      {% else %}
        <p>Favorited by {{ favorites_count }} users </p>
      {% endif %}
    {% else %}
      {% if favorites_count > 0 %}
        <p>Favorited by {{ favorites_count }} users </p>
      {% endif %}
    {% endif %}
    <div>
      <img src="{{ url_for('image', id=id) }}">
    </div>
  </div>
  <div class="panel-footer">
    {% if logged_in %}
      <form class="form-horizontal" action="{{ url_for('post_comment', post_id=id) }}" method="POST">
        <div class="form-group">
          <label for="content" class="col-lg-3 control-label">Content <strong>(required)</strong></label>
          <textarea name="content" rows="4" cols="80"></textarea>
          <button type="submit" class="btn btn-primary">Comment</button>
        </div>
      </form>
    {% endif %}
    <ul class="list-group">
      {% for comment in comments %}
      <li class="list-group-item">
        <h4 class="list-group-item-heading"><a href="{{ url_for('userpage', username=comment['username']) }}">@{{ comment['username'] }}</a></h4>
        <p>{{ comment['content'] }}</p>
        <p>{{ comment['created_at'] }}</p>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% if logged_in %}
  {% if user_id == current_user['id'] %}
    <form action="{{ url_for('delete_post', id=id)}}" method="POST" id="delete-post">
      <button type="submit" class="btn btn-danger btn-lg btn-block">Delete this post</button>
    </form>
  {% endif %}
{% endif %}
<script type="text/javascript">
$('form#delete-post').submit(function () {
  return window.confirm("Are you sure to delete this post?");
});
</script>
{% endblock %}
