{% extends "layout.html" %}
{% block body %}
  <form class="form-horizontal" action="{{ url_for('register_user') }}" method="POST">
    <div class="form-group">
      <label for="username" class="col-lg-2 control-label">Username <strong>(required)</strong></label>
      <input type="text" name="username" maxlength="64" placeholder="Username">
    </div>
    <div class="form-group">
      <label for="password" class="col-lg-2 control-label">Password <strong>(required)</strong></label>
      <input type="password" name="password" maxlength="128">
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
{% endblock %}
