{% extends "layout.html" %}
{% block body %}
{% set ff_count = calculate_3f_count(user['username']) %}
<ul class="nav nav-tabs">
  <li class="nav-item active"><a href="{{ url_for('userpage', username=user['username']) }}">Profile</a></li>
  <li class="nav-item"><a href="{{ url_for('users_following', username=user['username']) }}">Following<span class="badge">{{ ff_count['following_count'] }}</span></a></li>
  <li class="nav-item"><a href="{{ url_for('users_follower', username=user['username']) }}">Follower<span class="badge">{{ ff_count['follower_count'] }}</span></a></li>
  {% if session['user_id'] == user['id'] %}
  <li class="nav-item"><a href="{{ url_for('list_favorite') }}">Favorites<span class="badge">{{ ff_count['favorites_count'] }}</span></a></li>
  {% endif %}
</ul>
<div class="list-group">
  <div class="list-group-item">
    <h4 class="list-group-item-heading">Username</h4>
    <div class="list-group-item-text">{{ user['username'] }}</div>
  </div>
  <div class="list-group-item">
    <h4 class="list-group-item-heading">Description</h4>
    <div class="list-group-item-text">{{ user['description'] or 'No description set.' }}</div>
  </div>
  {% if logged_in() %}
    {% if session['user_id'] != user['id'] %}
      {% if follows(session.get('user_id'), user['id']) %}
        <form action="{{ url_for('unfollow') }}" method="POST">
          <button type="submit" class="btn btn-danger btn-lg btn-block">Unfollow @{{user['username']}}</button>
      {% else %}
        <form action="{{ url_for('follow') }}" method="POST">
          <button type="submit" class="btn btn-primary btn-lg btn-block">Follow @{{user['username']}}</button>
      {% endif %}
        <input type="hidden" name="username" value="{{user['username']}}">
      </form>
    {% endif %}
  {% endif %}
  {% if posts %}
    <h2>@{{ user['username'] }}'s post</h2>
    <ul class="list-group">
      {% for post in posts %}
        {% include "_post.html" %}
      {% endfor %}
    </ul>
  {% endif %}
  {% if logged_in() %}
    {% if user['username'] == current_user()['username'] %}
      <a href="{{ url_for('setting')}}" class="btn btn-default btn-lg btn-block">Change setting</a>
    {% endif %}
  {% endif %}
</div>
{% endblock %}
